@charset "utf-8";
/* CSS Document */

body{font-family: 'Istok Web', sans-serif;}

/*Header start*/

.navbar{background-color: #6c4e83;
		border-top: 3px solid #a997c5;
		border-bottom:none;
		opacity: 0.63;
	    }	

.navbar-brand {height: 75px;
			   padding:0px 10px 0px 0px;
			  }
			  
.navbar-nav { padding:16px 0px 0px 100px;}

.navbar-default .navbar-nav > li > a {color: #f8f6f9;
									  text-transform:uppercase;
									  padding-bottom:22px;
									  } 
									  
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{color: #f8f6f9;										
										   border-bottom:2px solid #f8e1b4;}
										   
/*Header end*/


.carousel-indicators {bottom: -7px;
                     }

/*guidant section start*/
										   										   
#guidant{background-color:#FFF;
		 padding:110px 0px;
		}
		
#guidant h2{margin:0px 0px 55px;
			color:#775ba3;
			font-size:40px;
			font-weight:600;
			}
			
#guidant p{margin:0px 0px 5px;
		   font-size:23px;
		   color:#4b3f55;
		   font-weight:600;
		  }


/*guidant section end*/

/*postérité section start*/
#postérité{background-color:#fcfcfc;
		   padding:80px 0px 50px;
		   border:1px solid #82c5a1;
		   }
		   
#postérité h2{font-size:40px;
			  font-weight:bold;
			  color:#7e63a7;
			  margin-bottom:60px;
			  }
			  
			  
#postérité img{position:relative;
			   left:220px;
			   top:50px;
			   }

#postérité i{margin-left:120px;
			 width: 95px;
			 height: 95px; 
			 border: 1px solid #4b3f55;
			 color: #4b3f55;
			 border-radius: 100%; 
	         padding: 19px 0px 0px 21px;			
	         }
			   
			  			  
#postérité p{margin-top:60px;
			 font-size:13px;
			 color:#4b3f55;
			 font-weight:700;
			}
			
#postérité span{font-size:53px;
			    color:#91c5a9;
			    font-weight:600;
			    line-height:34px;}
		   

/*postérité section end*/

/*Notre Equipe section start*/

#equipe{background-color:#FFF;
	    padding:110px 0px;}
		
#equipe h2{font-size:40px;
		   font-weight:700;
	       color:#7e63a7;
		   margin-bottom:58px;
		   }

#equipe img{border-bottom:2px solid #7dc59e;}

.thumbnail h4{border-bottom:3px solid #7dc59e;
			  padding:8px 0px;
			  color:#7dc59e;	
			  }
			  
.thumbnail h4 > small{color:#7dc59e;}

.thumbnail .caption{padding:0px;}

.thumbnail .caption > p:nth-child(2){
	                        color:#4b3f55;
					        font-size:12px;								  						    margin:0px;
						    padding:16px 0px 30px;
							}
					 					 
.caption .btn{border-radius:0px;}

#equipe .thumbnail{border:0px;}


/*Notre Equipe section end*/

#features{background:#775ba3;
		  padding:100px 0px;
		 }
		 
#features h2{color:#FFFFFF;
			 font-size:40px;
			 font-weight:600;
			 margin:0px 0px 90px;
			 }
			 
/*#features h3{color:#FFFFFF;
			 font-size:35px;
			 font-weight:600;
			 margin:0px 0px 40px;
			 width:290px;	
	         }
			 
#features p:nth-child(2){color:#FFFFFF;
						 font-size:14px;
						 margin:0px 0px 50px;
						 	
						 }
						 
#features .ourFeatures{width:545px;}

.visualComposer{margin-left:15px;}

.customize{width:500px;
           margin-left:20px;}
		   
#features p:nth-child(3) > a{width:150px;
							background:#775ba3;
							border:3px solid #fff;
							border-radius:0px;
							color:#fff;
							font-size:18px;
							}*/


/* ==========================================================================
   Custome Responsive styles.
   ========================================================================== */


@media (min-width: 320px) and (max-width: 480px){
.navbar{border-bottom:none;}
.navbar-brand { height: 45px;}
.navbar-brand > img {height: 35px;
					 width: 100px;}				                        	
.carousel-indicators {bottom:10px;}
									   
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{margin-right:100px;}
.carousel-indicators {bottom: -12px;}
									   
#postérité img{display:none;}
					 					 
}

@media (min-width: 768px) and (max-width: 1024px)

{  									   
									     
.navbar-brand { height: 70px;}
									   
.navbar-nav { padding: 11px 0 0 17px;}
.navbar-brand > img {height: 35px;
					width: 100px;}
						
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{margin-right:0px;}

.carousel-indicators {bottom:10px;}
									   									   
#postérité img{display:none;}
#postérité i{margin:50px 0px 0px 300px;}

										 
 }