@charset "utf-8";
/* CSS Document */
body{}
.navbar{background-color:#e8ebf1;
		padding:20px 100px;
		margin-bottom:0px;}
#slider{background-color:#81e4ed;
		padding-top:20px;
		margin-top:0px;}
	
/*=============fourdiv section here goes=================*/
#fourdiv{background-color:#e8ebf1;
		 padding:50px 0px;}
#fourdiv h3{font-size:15px;
			margin-left:0px;}
#fourdiv h3 i{width:50px;
			  height:50px;
			  border-radius:100%;
			  background-color:#2aacc8;
			  padding:17px;
			  
			  color:#FFF;
			  margin-right:10px;}
	

#fourdiv a{text-decoration:none;
		   text-transform:capitalize;}
		   
/*==========================works section here goes================*/
#works{background-color:#ffffff;
	   padding:15px;}
#works h4{border-bottom:1px solid #dfe1e5;
		  padding-bottom::15px;}
#works i{color:#2aacc8;}
#works h4 span{margin-left:920px;}
#works h4 span i{color:#81e4ed;
				 margin:5px;}

/*=======================testimonal=======================*/
@brand-color: #b20000;
#tcb-testimonial-carousel {
    a{
        color: @brand-color;
    }
    .text-brand{
        color: @brand-color;
    }
    margin-top: 30px;
    .carousel-indicators .active {
        background: @brand-color;
    }
    .no-margin{
        margin: 0;
    }
    .carousel-indicators li {
        border: 1px solid #ccc;
    }
    .carousel-control {
        color: @brand-color;
        width: 5%;
    }
    .carousel-control:hover,
    .carousel-control:focus {
        color: @brand-color;
    }
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
    .item{
        padding: 15px 40px;
        background: #f8f8f8;
    }
    .media-object {
        margin: auto;
    }
    @media screen and (max-width: 768px) {
        .media-object {
            margin-bottom: 15px;
        }
    }
}

#testimonial h4{font-size:15px;}

/*============================download section here goes=========================*/
		  
#download{background-color:#e8fcfe;
		  border:1px solid #81e4ed;
		  padding:10px;}
	
#download img{padding:10px 0px;}


/*======================contact section here goes===============*/
#contact{background-color:#e8ebf1;}
#contact p{line-height:1em;}

/*===========================footer section here go======================*/
#footer{background-color:#e8ebf1;
		padding-top:40px;
		padding-bottom:20px;
		line-height:1em;}